<div class="container section">
  <blockquote class="white-text black" id="about"> Bienvenidos a {{ titulo }} </blockquote>
  <div class="parrafo">
    <b>
      <p class="flow-text z-depth-1 center"> DJ DEL MES- <span id="dj">{{ dj }}</span>
      </p>
    </b>
  </div>
  <div class="col s12 m6 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s6 m5 l6">
          <img src="{{ foto }}" alt="{{dj}}" class="circle responsive-img" />
          <!-- notice the "circle" class -->
        </div>
        <div class="col s6 m7 l6" id="tarjeta">
          <span class="black-text">
            <mat-icon>emoji_flags</mat-icon><b>Country:</b> <i> {{ pais }}</i>
            <br />
            <mat-icon>audiotrack</mat-icon> <b>Genre:</b> <i> {{ genero }}</i>
            <br />
            <mat-icon>album</mat-icon><b>Label:</b><i> {{ sello }}</i>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="parrafo">
    <p class="flow-text z-depth-1 center">SET RECOMENDADO</p>
  </div>
  <br />
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/f5H6WGCVAwI" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="card black">
        <div class="card-content white-text center">
          <span class="card-title center">Mas info de {{ dj }}</span>
          <p> "With a Rock ’n’ Roll background, is no mystery that Victor has a unique sound.
            For some years now he has been known for his high end quality of productions, which has made him a
            stablished artist in the Techno scene. His edits of classic songs are very popular, and part of Victor’s
            trademark performances. He states that this is the way to pay tribute to his influences.
            Apart from also remixing officially big names of the electronic scene such as MOBY, Stephan Bodzin and
            Dubfire, Victor has been one of the top selling Techno artists nowadays.

            Over the years, the Berlin-based producer has been touring all around the world, from big festivals to
            intimate clubs and from big clubs to intimate festivals, and it’s getting busier every day. He just can’t
            get enough!

            As Victor injects pure love on every single work he does, thanks to music, he exists." <br /> -Fuente:
            Resident Advisor </p>
        </div>
        <div class="card-action">
          <a href="https://www.facebook.com/sasha" target="_blank" rel="noopener">Fb page</a>
          <a href="https://soundcloud.com/sashaofficial" class="right" target="_blank" rel="noopener">Soundcloud</a>
        </div>
      </div>
    </div>
  </div>
  <div class="parrafo">
    <p class="flow-text z-depth-1 center">SET DEL MES: {{ setdelMes }}</p>
  </div>
  <br />
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/f6rgpFDdfns" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <br />
  <div class="parrafo">
    <p class="flow-text z-depth-1 center">TRACK DEL MES - {{ trackDelMes }}</p>
  </div>
  <br />
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cElcBi8LZxA" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <br />
  <ul class="collection with-header">
    <li class="collection-header black white-text">
      <p class="flow-text z-depth-1 center"> STREAMS TODAS LAS SEMANAS!<i class="material-icons">grade</i>
      </p>
    </li>
    <li class="collection-item black white-text">
      <div>
        <span class="material-icons">album</span> LOST&FOUND LABEL-VIERNES<a
          href="https://www.youtube.com/channel/UCf00GK0iy0ZPKXktSNz1bpQ" target="_blank" rel="noopener"
          class="secondary-content white-text">LINK</a>
      </div>
    </li>
    <li class="collection-item black white-text">
      <div>
        <i class="material-icons">play_arrow</i> JOHN DIGWEED-LOS SABADOS!<a
          href="https://www.mixcloud.com/johndigweed/" target="_blank" rel="noopener"
          class="secondary-content white-text">LINK</a>
      </div>
    </li>
    <li class="collection-item black white-text">
      <div>
        <i class="material-icons">whatshot</i> HERNRY SAIZ-SABADOS!<a
          href="https://www.youtube.com/user/henrysaizofficial/videos" target="_blank" rel="noopener"
          class="secondary-content white-text">LINK</a>
      </div>
    </li>
  </ul>
  <div class=" section">
    <blockquote class="white-text black center-align" id="about">BEST OF!<br>Nueva seccion en donde encontraras lo mejor
      de dj Destacados</blockquote>
    <div class="row">
      <ul>
        <li *ngFor='let dj of djs, index as i'>
          <div class="col s12 m6">
            <div class="parrafo">
              <h2 class="center-align">{{dj.nombre}}</h2>
              <a [routerLink]="['/bestOf',i]">ir a seccion</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>