<div class="container section">
  <blockquote class="white-text black" id="about">Nuevos tracks</blockquote>
  <div class="row">
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track1 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/YU2k_6Rg7ho"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track2 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/dB_pB2v1FZQ"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track3 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/K7jgo4hDibQ"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track4 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/NYtRWMpESyw"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track5 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/0QQm-8rd19M"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track6 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/40j45TrGPCI"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track7 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/nbtwwbQen8I"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track8 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/tkJz3Jy3VDI"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track9 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/qqlIE7OWr5w"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track10 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/JfLubsoPJhU"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track11 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/swtmsYX4Nmo"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        {{ track12 }}
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/kWk3sTZA2O8"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        CRAZY PLAYLIST BY COFRAN <span class="material-icons"> room </span>
      </p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?list=PL6K4IVRzmkaDnRGhqqKVtZlkNVfB3AWrG&index=2&t=0s"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <!--  <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        Listas de reproduccion <span class="material-icons"> headset </span>
      </p>
    </div>
    <br />
    <div align="center" class="parrafo">
      <button
        class="waves-effect waves-light btn grey darken-1 btn-large"
        (click)="mostrar = !mostrar"
      >
        {{ titulo }}
      </button>
    </div>
    <div class="video-container" *ngIf="mostrar" id="contenedor">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?list=PL6K4IVRzmkaBi_DxdBGiXiEaTLVJpRqVZ&index=2&t=0s "
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <br />
    </div>
    <br />
    <div align="center" class="parrafo">
      <button
        class="waves-effect waves-light btn grey darken-1 btn-large"
        (click)="mostrar1 = !mostrar1"
      >
        {{ titulo1 }}
      </button>
    </div>
    <div class="video-container" *ngIf="mostrar1" id="contenedor">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?list=PL6K4IVRzmkaBbgscpf2EGrSDPqBzfB2g8&index=2&t=0s "
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div align="center" class="parrafo">
      <button
        class="waves-effect waves-light btn grey darken-1 btn-large"
        (click)="mostrar2 = !mostrar2"
      >
        {{ titulo2 }}
      </button>
    </div>
    <div class="video-container" *ngIf="mostrar2" id="contenedor">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/videoseries?list=PL6K4IVRzmkaAAR0MqSl_nZNyFgJMMYq3U"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div> -->
  </div>
</div>
