<div class="container section">
  <blockquote>
    Nuevos tracks
  </blockquote>
  <div class="row">
    <p class="flow-text z-depth-1 center"> Boris Brejcha New Ep.</p>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/P9zi8nnxTqo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lv7qLfrpJz0" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/tiOZm4TChhw" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>
