<div class="section">
  <nav class="nuevomenu">
    <div class="nav-wrapper container">
      <!-- <h1 [routerLink]="['/']" [routerLinkActive]="['actived']" class="brand-logo center" style="cursor: pointer;">Techno Station</h1> -->
      <a [routerLink]="['/']" [routerLinkActive]="['actived']" class="brand-logo titulo" id="hola">Techno
        Station</a>
      <a href="#" data-target="menu-responsive" class="sidenav-trigger">
        <mat-icon>menu</mat-icon>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/tracks']">Tracks</a></li>
        <li><a [routerLink]="['/sets']">Sets</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="menu-responsive">
  <li><a class="sidenav-close" [routerLink]="['/tracks']" [routerLinkActive]="['actived']">Tracks</a></li>
  <li><a class="sidenav-close" [routerLink]="['/sets']" [routerLinkActive]="['actived']">Sets</a></li>
  <li><a class="sidenav-close" [routerLink]="['/about']" [routerLinkActive]="['actived']">About</a></li>
</ul>
<router-outlet></router-outlet>
<footer class="page-footer black">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        <h5 class="white-text">Techno Station</h5>
        <blockquote>
          <p class="grey-text text-lighten-4">Creado por Franco Ibarra</p>
        </blockquote>
        <blockquote>
          <p class="grey-text text-lighten-4">contacto: francoandes12@gmail.com</p>
        </blockquote>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li class="subir"><a class="grey-text text-lighten-3" href="#">
              <mat-icon>navigation</mat-icon>
            </a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/francoandes12" target="_blank">github</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/francoandes12" target="_blank">fb</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2020-Cordoba,Argentina
    </div>
  </div>
</footer>
