<div class="">
  <nav class="nuevomenu">
    <div class="nav-wrapper container">
      <a
        [routerLink]="['/']"
        [routerLinkActive]="['actived']"
        class="brand-logo titulo"
        id="hola"
        >Techno Station</a
      >
      <a href="#" data-target="menu-responsive" class="sidenav-trigger">
        <mat-icon>menu</mat-icon>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/tracks']">Tracks</a></li>
        <li><a [routerLink]="['/sets']">Sets</a></li>
        <li><a [routerLink]="['/about']">About</a></li>
      </ul>
    </div>
  </nav>
</div>
<ul class="sidenav" id="menu-responsive">
  <li>
    <a
      class="sidenav-close"
      [routerLink]="['/tracks']"
      [routerLinkActive]="['actived']"
      >Tracks</a
    >
  </li>
  <li>
    <a
      class="sidenav-close"
      [routerLink]="['/sets']"
      [routerLinkActive]="['actived']"
      >Sets</a
    >
  </li>
  <li>
    <a
      class="sidenav-close"
      [routerLink]="['/about']"
      [routerLinkActive]="['actived']"
      >About</a
    >
  </li>
</ul>
<router-outlet></router-outlet>
<footer class="page-footer black">
  <div class="row">
    <div class="col m2 s12">
      <blockquote>
        <p class="grey-text text-lighten-4">Creado por Franco Ibarra</p>
      </blockquote>
    </div>
    <div class="col m3 s12">
      <blockquote>
        <p class="grey-text text-lighten-4">
          contacto: francoandes12@gmail.com
        </p>
      </blockquote>
    </div>
    <div class="col m1 s12">
      <blockquote>
        <h5 class="white-text">Links</h5>
      </blockquote>
    </div>
    <div>
      <ul>
        <li class="col m2 s4">
          <a
            class="grey-text text-lighten-3"
            href="https://github.com/francoandes12"
            target="_blank"
          >
            <img
              src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
              alt="logo github"
              width="25"
              height="25"
            />
          </a>
        </li>
        <li class="col m2 s4">
          <span class="material-icons medium">
            <a
              class="grey-text text-lighten-3"
              href="https://www.facebook.com/francoandes12"
              target="_blank"
              >facebook</a
            >
          </span>
        </li>
      </ul>
      <ngx-scrolltop theme="white" backgroundColor="#ffffff"></ngx-scrolltop>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">© 2020-Cordoba,Argentina</div>
  </div>
</footer>
<ngx-scrolltop></ngx-scrolltop>
