<div class="container section">
  <blockquote class="white-text black center-align" id="about">Nueva seccion en donde encontraras lo mejor de dj
    Destacados</blockquote>
  <div class="row">
    <div class="col s12 m6">
      <div class="parrafo">
        <h2 class="center-align">{{dj1}}</h2>
        <div class="contenedor-foto">
          <img src="{{fotodj1}}" alt="{{dj1}}">
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="parrafo">
        <h2 class="center-align">{{dj1Set}}</h2>
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/5vHRUsP20dQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
