<div class="container section">
  <blockquote class="white-text">
    Nuevos Sets Para la cuarentena!!
  </blockquote>
  <div class="row">
    <div class="parrafo">
      John Digweed - Live Set @ Bunker Session 006 - 18-04-2020
      <br>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/rgldsxaHBMc" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>
      <div class="parrafo">

        <p class="flow-text z-depth-1 center">Jamie Jones @ Essential Mix 2020 #STAYATHOME</p>
      </div>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/StzXJMvsNxA" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <br>
      <div class="parrafo">
        <p class="flow-text z-depth-1 center">
          Oliver Huntemann - Senso Sounds Bedroom Session
        </p>
      </div>
      <br>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/49RHVdxsEUU" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        yoyaku quarantine session : Janeret
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WTg7WBH6Guo" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        United We Stream #1 - CLAPTONE
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/G5wMpRRKw1s" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        Enrico Sangiuliano - Lockdown Session at Kompass, Ghent
      </p>
    </div>
    <br>
    <div class="video-container">

      <iframe width="560" height="315" src="https://www.youtube.com/embed/CkhjAA1cgeE" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        Roberto Capuano DJ set @ Drumcode Indoors II | Beatport Live
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/go5YTDUG-jM" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        Guy Mantzur & Sahar Z Live From Haoman 17 For DJ Mag House Party
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ylx7ZoCT1mc" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        Hernan Cattaneo - Live Set @ Sunsetstrip Home Edition - 04-04-2020 EPIC SET!
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/qgIi40nory8" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        Patrick Topping Lockdown Set | @Beatport Live
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jBOTL454re4" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        Darius Syrossian - Live @ Defected Virtual Festival (Ministry Of Sound)
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/8TknbRLA2tg" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <br>
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">
        At Home with Henry 05 "Jam with me"
      </p>
    </div>
    <br>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/NC8wy5Z7n78" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
