<div class="container section">
  <blockquote class="white-text black" id="about">
    Nuevos Sets Para la cuarentena!!
  </blockquote>
  <div class="row">
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">{{ video1 }}</p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/eIopJQDUqYQ"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">{{ video2 }}</p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/NX-9tWOgY1k"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <br />
    <div class="parrafo">
      <p class="flow-text z-depth-1 center">{{ video3 }}</p>
    </div>
    <br />
    <div class="video-container">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/ailfQLX_qQY"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <div class="parrafo">
    <p class="flow-text z-depth-1 center">{{ video4 }}</p>
  </div>
  <br />
  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/FRgD1UPUkuY"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <br />
  <div class="parrafo">
    <p class="flow-text z-depth-1 center">{{ video5 }}</p>
  </div>
  <br />
  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/TuGeIaRif_s"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  <br />
  <div class="parrafo">
    <p class="flow-text z-depth-1 center">{{ video6 }}</p>
  </div>
  <br />
  <div class="video-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/pQK1SuWWInw"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
